.jumbotron {
  padding-top: 6rem;
  background-color: #d9e3f3;
}

#projects {
  background-color: #d9e3f3;
}

#contact {
  background-color: #d9e3f3;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

footer {
  padding-bottom: 1rem;
}

section {
  padding-top: 6rem;
}
